<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="p-2">
    <ion-fab-button fill="clear" shape="round" color="primary" (click)="dismiss()">
      <ion-icon name="chevron-down-outline" color="tertiary"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <div class="d-flex flex-column background-img"
    style="background-image: linear-gradient(rgba(15, 15, 15, 0), rgb(21, 21, 21, 1)), linear-gradient(rgba(21, 21, 21, 0.8), rgba(21, 21, 21, 0)), url('{{this.gameDetails.background_image}}');">
    <div class="p-3">
      <div class="text-center py-5">
        <ion-title>{{this.gameDetails.name}}</ion-title>
        <ion-icon name="star" *ngFor="let i of ratingStar(this.gameDetails.rating_top)" color="primary"></ion-icon>
      </div>
    </div>
  </div>

  <div class="py-3">
    <h2 class="text-center">Descrição:</h2>
    <p class="px-4 description">{{this.gameDetails.description_raw}}</p>
  </div>

  <div class="text-center py-3">
    <h2>Tempo para Zerar:</h2>
    <h3 class="play-time px-3">{{this.gameDetails.playtime}} h</h3>
  </div>

  <div class="text-center py-3">
    <h2 class="pb-2">Plataformas:</h2>
    <div class="d-flex flex-row align-items-center justify-content-center">
      <div *ngFor="let platform of this.gameDetails.parent_platforms"
        class="d-flex flex-row align-items-center justify-content-center">
        <ion-icon *ngIf="platform.platform.slug == 'playstation'" class="mx-2 platform-icon"
          name="logo-playstation"></ion-icon>
        <ion-icon *ngIf="platform.platform.slug == 'pc'" class="mx-2 platform-icon" name="desktop-outline"></ion-icon>
        <ion-icon *ngIf="platform.platform.slug == 'playstation'" class="mx-2 platform-icon"
          name="logo-xbox"></ion-icon>
      </div>
    </div>
  </div>

  <div class="text-center py-5">
    <h2>Data de Lançamento:</h2>
    <h1>{{this.gameDetails.released}}</h1>
  </div>

  <div class="text-center py-3">
    <h2>Generos:</h2>
    <div class="d-flex justify-content-center">
      <h3 *ngFor="let genre of this.gameDetails.genres" class="mx-2">{{genre.name}}</h3>
    </div>
  </div>

  <div class="text-center p-5">
    <h2>Tags:</h2>
    <div class="tag-list px-3">
      <h5 *ngFor="let tag of this.gameDetails.tags">{{tag.name}}</h5>
    </div>
  </div>

  <div class="text-center p-3">
    <h2>Desnvolvedores:</h2>
    <div class="d-flex justify-content-center px-5">
      <h3 *ngFor="let dev of this.gameDetails.developers">{{dev.name}}</h3>
    </div>
  </div>

  <div class="text-center py-3 px-2">
    <h2>Website:</h2>
    <div>
      <a class="text-decoration-underline text-white"
        href="{{this.gameDetails.website}}">{{this.gameDetails.website}}</a>
    </div>
  </div>

  <ion-button id="requirements" expand="block" size="large" color="primary"
    class="p-3 requirements-button text-light">Requisitos</ion-button>
  <ion-modal #modal trigger="requirements" [initialBreakpoint]="1.00" [breakpoints]="[0, 0.25, 0.5, 0.75, 1.00]">
    <ng-template>
      <ion-header class="d-flex justify-content-center">
        <ion-button (click)="modal.dismiss()" shape="round" fill="clear" color="tertiary">
          <ion-icon class="p-3" color="tertiary" name="chevron-down-outline" size="large"></ion-icon>
        </ion-button>
      </ion-header>
      <ion-content class="ion-padding">
        <div *ngFor="let pc of this.gameDetails.platforms">
          <p *ngIf="pc.platform.slug == 'pc'">{{this.gameDetails.platforms[0].requirements.minimum}}</p>
          <br />
          <p *ngIf="pc.platform.slug == 'pc'">{{this.gameDetails.platforms[0].requirements.recommended}}</p>
        </div>
        <br />

      </ion-content>
    </ng-template>
  </ion-modal>

  <div class="img-carousel" *ngFor="let img of this.imgList">
    <div>
      <ion-img src="{{img}}" class="d-block w-100"></ion-img>
    </div>
  </div>

  <div class="text-center p-3"> <!--Voltar nessa parte do código-->
    <h2>Avaliações</h2>
  </div>
</ion-content>