.background-img {
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 250px;
}

ion-icon {
    font-size: 25px;
}

.play-time {
    font-weight: bold;
    font-size: 35px;
    color: var(--ion-color-primary);
}

.platform-icon {
    font-size: 45px;
}

.tag-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    justify-content: center;
}

.requirements-button {
    color: var(--ion-color-tertiary) !important;
}

.img-carousel {
    display: flex;
    overflow-x: auto;
    box-sizing: border-box;
    width: 100%;

    & div {
        padding: 5px 10px;

        & ion-img {
            border-radius: 10px !important;
        }
    }
}

.img-carousel ion-img {
    border-radius: 2rem;
}

h2 {
    font-size: 30px;
}

a {
    font-size: 20px;
}

.description {
    text-align: justify;
    text-justify: distribute !important;
}