@import "../../../theme/variables.scss";

ion-icon {
    color: linear-gradient(0deg, #191919, #ffffff);
    font-size: 30px;
}

ion-card {
    border-radius: 0.5rem;
}

.icon-more-info {
    font-size: 4z0px;
}

ion-item{
    background-color: #191919;
}

ion-accordion-group{
    border-radius: 0,10px,0,10px  ;
}

.platform-icon{
    color: #ffffff !important;
}