@import "../../../theme/variables.scss";

ion-icon {
    color: #00A0F4;
    font-size: 30px;
}

ion-card {
    border-radius: 0.5rem;
}

.icon-more-info {
    font-size: 4z0px;
}

ion-item{
    background-color: #191919;
}