<ion-content class="ion-padding">
  <div class="container">
    <div class="text-center pt-5">
      <h1>The Gamer Club</h1>
      <h1>Criar Conta</h1>
    </div>

    <div class="my-3">
      <div class="my-2">
        <ion-input label="Nome Completo" label-placement="floating" fill="outline"></ion-input>
      </div>
      <div class="my-2">
        <ion-input label="Nick Name" label-placement="floating" fill="outline"></ion-input>
      </div>
      <div class="my-2">
        <ion-input label="E-Mail" label-placement="floating" fill="outline"></ion-input>
      </div>
      <div class="my-2">
        <ion-input label="Sexo" label-placement="floating" fill="outline"></ion-input>
      </div>
      <div class="my-2">
        <ion-input label="Telefone" label-placement="floating" fill="outline"></ion-input>
      </div>
      <div class="my-2">
        <ion-input label="E-Mail" label-placement="floating" fill="outline"></ion-input>
      </div>
      <div class="my-2">
        <ion-input label="Senha" label-placement="floating" fill="outline"></ion-input>
      </div>
      <div class="my-2">
        <ion-input label="Confirmação de Senha" label-placement="floating" fill="outline"></ion-input>
      </div>
      <div class="my-2">
        <ion-button size="large" expand="block" class="text-light enter-button">Criar</ion-button>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <div class="line"></div>
      <h6 class="mb-2">ou</h6>
      <div class="line"></div>
    </div>

    <div class="pt-2 d-flex flex-column justify-content-between align-items-center">
      <div class="google-img"></div>
      <h5>Já possui uma conta?</h5>
      <ion-button fill="clear" size="large">Clique Aqui!</ion-button>
    </div>
  </div>
</ion-content>