<ion-content class="ion-padding">
  <div class="container d-flex justify-content-center align-items-center">

    <ion-img class="logo" src="../../../assets/logo.svg"></ion-img>
    <h1>Criar Conta</h1>

    <div class="my-3">
      <div class="my-2">
        <ion-input [(ngModel)]="this.name" label="Nome Completo" label-placement="floating" fill="outline"></ion-input>
      </div>
      <div class="my-2">
        <ion-input [(ngModel)]="this.nickname" label="NickName" label-placement="floating" fill="outline"></ion-input>
      </div>
      <div class="my-2">
        <ion-input label="E-Mail" [(ngModel)]="this.email" label-placement="floating" fill="outline"></ion-input>
      </div>
      <div class="my-2">
        <ion-select (ionChange)="handleChangeGender($event)" label="Gênero" label-placement="floating" fill="outline">
          <ion-select-option value="0">Masculino</ion-select-option>
          <ion-select-option value="1">Feminino</ion-select-option>
        </ion-select>
      </div>
      <div class="my-2">
        <ion-input [(ngModel)]="this.cellphone" label="Telefone" label-placement="floating" fill="outline"></ion-input>
      </div>
      <div class="my-2">
        <ion-input label="Senha" type="password" [(ngModel)]="this.password" label-placement="floating" fill="outline"
          id="password"> 
          <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="showPassword()">
            <ion-icon slot="icon-only" name="eye-outline" aria-hidden="true" color="tertiary"></ion-icon>
          </ion-button>
        </ion-input>
      </div>
      <div class="my-2">
        <ion-input type="password" label="Confirmação de Senha" label-placement="floating" fill="outline"
          id="confirmPassword">
          <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="showConfirmPassword()">
            <ion-icon slot="icon-only" name="eye-outline" aria-hidden="true" color="tertiary"></ion-icon>
          </ion-button>
        </ion-input>
      </div>
      <div>
        <ion-button expand="block" class="text-light" (click)="createUser()">Criar</ion-button>
      </div>
    </div>

    <h6 class="mb-2">ou</h6>

    <div class="google-img"></div>
    <h5>Já possui uma conta?</h5>
    <ion-button fill="clear" [routerLink]="['']">Clique Aqui!</ion-button>
  </div>
</ion-content>