<ion-header [translucent]="true">
  <ion-toolbar class="text-center">
    <ion-title>Desenvolvedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="display-imgs">
    <div>
      <ion-img src="../../../assets/gabriel.jpeg" alt="teste" />
      <h2>Gabriel Milbuisiak</h2>
    </div>
    <div>
      <ion-img src="../../../assets/lenon.png" alt="teste" />
      <h2>Lenon Torres</h2>
    </div>
    <div>
      <ion-img src="../../../assets/carlos.png" alt="teste" />
      <h2>Carlos Alberto Gomes</h2>
    </div>
    <div>
      <ion-img src="../../../assets/ivonaldo.png" alt="teste" />
      <h2>Ivonaldo Fortes</h2>
    </div>
  </div>
</ion-content>