.display-imgs {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.display-imgs div ion-img {
    height: 100px;
    width: 100px;
}

.display-imgs{
    margin: 8rem 0 2rem;
    align-self: center !important;
    justify-self: center !important;
}

.display-imgs div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}